<ion-view title="修改密码">
    <ion-content>
        <ion-list>
			     <label class="item item-input">
                 <i class="icon ion-locked placeholder-icon"></i>
                 <input name="password" type="password" placeholder="旧密码" ng-model="user.oldpassword" ng-change="passwordChange">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input name="password" type="password" placeholder="新密码" ng-model="user.newpassword">
            </label>
             <h5 ng-if="showResult" class="assertive" style="text-align: center;" >{{resultcontent}}</h5>
             <button class="button button-block button-assertive"  ng-click="result()">确认修改</button>
        </ion-list>
    </ion-content>
</ion-view>
